.register {
    width: 100vw;
    height: 100vh;
    background: rgb(186,177,226);
    background: linear-gradient(18deg, rgba(186,177,226,1) 0%, rgba(198,164,240,1) 51%, rgba(73,45,200,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.registerLeft,
.registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.registerinDesc {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.3em;
    color: rgb(255, 255, 255);
    font-weight: 500;

}

.registerBox {
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registerInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.registerInput:focus {
    outline: none;
}

.registerButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgb(93, 67, 207);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;
}

.registerButton:hover{
    background-color: rgb(41, 32, 85);
    color: #fff;
}

.registerForgot {
    text-align: center;
    color: #1775ee;
}

.connregister{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connRegisterButton {
    width: 120%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgb(149, 0, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.connRegisterButton:hover{
    background-color: rgb(41, 32, 85);
    color: #fff; 
}