.connexion {
    width: 100vw;
    height: 100vh;
    background: rgb(186,177,226);
    background: linear-gradient(18deg, rgba(186,177,226,1) 0%, rgba(198,164,240,1) 51%, rgba(73,45,200,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .connexionWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    
  }
  
  .connexionLeft,
  .connexionRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .connexionDesc {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.3em;
    font-weight: 500;
    color: white;
    margin-right: 1em;
  }
  
  .connexionBox{
      height: 300px;
      padding: 50px;
      background-color: rgb(246, 237, 255);
      border-radius: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .connexionInput{
      height: 50px;
      border-radius: 15%;
      border: 1px violet;
      background-color: rgb(249, 249, 249);
      font-size: 18px;
      padding-left: 20px;
      justify-content: space-around;
      color: rgb(75, 75, 75);
      font-weight: 500;
  }
  
  .connexionInput:focus{
      outline: none;
  }
  
  .connexionButton{
      height: 50px;
      border-radius: 10px;
      border: none;
      background: rgb(93, 67, 207);
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  .connexionButton:focus{
    outline: none;
  }
  
  .connexionButton:hover{
    background-color: rgb(41, 32, 85);
    color: #fff;
  }
  
  .connexionForgot{
    text-align: center;
    color: rgb(75, 75, 75);;
    font-weight: 500;
  }

  .connexionForgot:hover{
    color: rgb(93, 67, 207);
    font-weight: 800;
    cursor : pointer; 
  }
  
  .connexionregister{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .connexionRegisterButton{
    width: 110%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: rgb(149, 0, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .connexionRegisterButton:hover{
    background-color: rgb(41, 32, 85);
    color: #fff;
    font-weight: 800;
    cursor : pointer; 
  }
